/**
 * Globals
 */
HTML {
	height:100%;
}
BODY {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.835em;
	color:#382a28;
	background:#f4f5f1;
	margin:0;
	padding:0;
	min-width:960px;
	height:100%;
}
IMG {
	border:0;
}
A {
	text-decoration:none;
	outline:0;
}
UL,OL,H1,H2,H3,H4,H5,H6,P,BLOCKQUOTE,PRE,TABLE,TD,TR,TH,FORM,LEGEND,FIELDSET {
	margin:0;
	padding:0;
}
UL,OL {
	list-style-type:none;
}
H1 {
	font-size:1.3em;
	padding-bottom:0.3em;
}
H2 {
	font-size:1em;
	font-weight:normal;
}
H3 {
	font-size:0.75em;
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:1px;
}
P {
	font-size:0.9em;
}
.clearfix:after,
.marginalItem:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear {
	clear:both;
}
/**
 * Header
 */
DIV#header {
	position:relative;
	width:100%;
	height:320px;
	background:url(../img/camerata-group.jpg) no-repeat top right;
}
/* Header Area Home */
BODY.home DIV#header {
	height:375px; /* 1024v */
	height:488px;
	background-image:url(../img/camerata-group-home.jpg);
}
A#camerata-logo {
	position:absolute;
	top:0;
	left:50px;
	width:380px;
	height:111px;
}
A#stoerer {
	position:absolute;
	top:144px;
	right:7px;
	width:70px;
	height:169px;
}
/* Navi Main Items */
DIV#header UL.rex-navi1.cafev {
	position:absolute;
	top:111px;
	left:50px;
	width:130px;
}
DIV#header UL.rex-navi1.cafev A {
	display:block;
	width:130px;
	height:24px;
	font-size:1.2em;
	color:#181818;
}
/* CAFEV special stuff, probably */
DIV#header UL.rex-navi1.cafev LI.rex-current.cafev A,
DIV#header UL.rex-navi1.cafev A.rex-current.cafev,
DIV#header UL.rex-navi1.cafev A:hover,
DIV#header UL.rex-navi1.cafev LI.rex-active.cafeve A {
	color:#740502;
}
/**
 * Content
 */
DIV#content UL {
	list-style-type:square;
	list-style-position:inside;
}
DIV#content {
	position:relative;
	width:100%;
	min-height:70%;
	background:#fff;
	line-height:1.4em;
	padding-bottom:30px;
}
DIV#content UL#menu-4.cafev {
	position:absolute;
	top:26px;
	right:30px;
	text-align:right;
	color:#d3c8c8;
}
DIV#content UL#menu-4.cafev A {
	color:#d3c8c8;
	font-size:0.9em;
	line-height:1.4em;
}
DIV#content UL#menu-4.cafev A:hover {
	color:#fff;
}
/**
 * Mailto
 */
DIV.item-text A.mailto IMG {
	margin-bottom:1px;
	vertical-align:bottom;
}
/**
 * Teaser Home
 */
BODY.home DIV#content {
	min-height:190px;
	padding:0 0 0.8em 0;
	background:#450e06 url(../img/footer-bg.jpg) repeat 0 0;
	color:#d3c8c8;
}
BODY.home DIV#content A {
	color:#d9c6c6;
}
BODY.home DIV#content A:hover {
	color:#d9c6c6;
}
BODY.home DIV#content H1,
BODY.home DIV#content H2 {
	color:#d9c6c6;
	padding-bottom:0.3em;
}
BODY.home DIV#content UL {
	list-style-type:none;
}
BODY.home DIV.item-text {
	padding-top:0;
	padding-bottom:0.8em;
}
BODY.home DIV.item-text DIV.marginalie {
	margin-bottom:1.2em;
}
/* Konzertteaser */
BODY.home DIV.item-teaser {
	border-top:0;
	padding-top:2em;
}
/* Noch nicht umgesetzt -> abwarten
BODY.home DIV.ornament {
	border-top:0;
	padding-top:2em;
	padding-bottom:12px;
	margin-bottom:12px;
	background:url(../img/ornament_neg.gif) no-repeat bottom right;
}*/
BODY.home DIV#content P.ornament {
	background:url(../img/ornament_neg.gif) no-repeat bottom right;
}
/**
 * Navi Content
 */
DIV.navi {
	position:relative;
	height:34px;
	background:url(../img/footer-bg.jpg) repeat-x 0 0;
}
DIV#content DIV.navi UL {
	position:absolute;
	top:0;
	left:50px;
	height:34px;
	font-size:14px;
}
DIV#content DIV.navi LI {
	float:left;
	list-style-type:none;
}
DIV#content DIV.navi A {
	line-height:34px;
	color:#d3c8c8;
	padding:0 1em 0 0;
}
DIV#content DIV.navi A.rec-current.cafev,
DIV#content DIV.navi A:hover {
	color:#fff;
}
/* Logout Menu */
DIV#content DIV.navi UL#logout {
	left:auto;
	right:20px;
}
DIV#content P.ornament {
	clear:both;
	background:url(../img/ornament_line.gif) no-repeat top right;
	height:32px;
}
/**
 * Navi Footer 
 */
DIV#footer {
	position:relative;
	height:52px;
	/* background:#450e06 url(../img/footer-bg.jpg) no-repeat 0 0; */
	background:#f4f5f1;
	color:#000;
}
DIV#footer UL#menu-2 {
	left:355px;
}
DIV#footer UL#menu-3 {
	left:50px;
}
DIV#footer UL#menu-3.cafev,
DIV#footer UL#menu-2.cafev {
	position:absolute;
	top:16px;
}
DIV#footer UL#menu-3.cafev LI,
DIV#footer UL#menu-2.cafev LI {
	float:left;
	background:url(../img/footer-navi-bullet.gif) no-repeat center left;
	padding:0 0 0 2px;
}
DIV#footer UL#menu-3.cafev LI.first,
DIV#footer UL#menu-2.cafev LI.first {
	background:none;
	padding:0;
}
DIV#footer UL#menu-3.cafev A,
DIV#footer UL#menu-2.cafev A {
	color:#d3c8c8;
	color:#000;
	font-size:0.9em;
	padding:0 13px 0 15px;
}
DIV#footer UL#menu-3.cafev A:hover,
DIV#footer UL#menu-3.cafev A.rex-active.cafev,
DIV#footer UL#menu-2.cafev A:hover,
DIV#footer UL#menu-2.cafev A.rex-active.cafev {
	color:#740502;
}
/**
 * Content Unterseiten
 */
DIV.item-text {
	position:relative;
	left:50px;
	width:800px;
	padding:2em 0 0 0;
}
DIV.no-margin {
	padding:0;
	margin:0;
}
/* Konzertliste mit Linie oben */
DIV.with-line {
	margin-top:1em;
	border-top:2px solid #dbddd7;
}
DIV.item-text a {
	color:#820300;
}
DIV.item-text a:hover {
	text-decoration:underline;
}
DIV.item-text P,
DIV.item-text H1,
DIV.item-text H2,
DIV.item-text H4,
DIV.item-text H5,
DIV.item-text H6,
DIV.item-text UL,
DIV.item-text OL {
	margin:0 0 1em 320px;
}
/* Falls dochmal block-Elemente in einander geschachtelt werden */
DIV.item-text P *,
DIV.item-text H1 *,
DIV.item-text H2 *,
DIV.item-text H4 *,
DIV.item-text H5 *,
DIV.item-text H6 *,
DIV.item-text UL *,
DIV.item-text OL *{
	margin:0;
}
DIV.item-text H2 {
	font-style:italic;
}
DIV.item-text H1,
DIV.item-text H2,
DIV.item-text H3 {
	margin:0 0 0.3em 320px;
}
DIV.item-text P.marginalie,
DIV.item-text H1.marginalie,
DIV.item-text H2.marginalie,
DIV.item-text H4.marginalie,
DIV.item-text H5.marginalie,
DIV.item-text H6.marginalie,
DIV.item-text UL.marginalie,
DIV.item-text OL.marginalie,
DIV.item-text DIV.marginalie {
	margin:0;
	float:left;
	width:280px;
}
DIV.item-text P.zitat,
DIV.item-text H1.zitat,
DIV.item-text H2.zitat,
DIV.item-text H4.zitat,
DIV.item-text H5.zitat,
DIV.item-text H6.zitat,
DIV.item-text UL.zitat,
DIV.item-text OL.zitat,
DIV.item-text DIV.zitat {
	margin:0;
	float:left;
	width:280px;
}
DIV.item-text .marginalie IMG {
	max-width:280px;
	max-height:400px;
	margin-bottom:1em;
}
DIV.item-text .zitat {
	font-style:italic;
}
DIV.item-text .zitatSymbolStart {
	color:#a7aaa0;
	float:left;
	font-size:3em;
	margin:-0.4em 0.05em 0 0;
}
DIV.item-text .zitatSymbolEnde {
	position:absolute;
	color:#a7aaa0;
	float:none;
	font-size:3em;
	margin:0.27em 0.05em 0 0;
}
DIV.item-text .autor {
	font-size:0.9em;
	font-style:normal;
	color:#777971;
}
DIV.item-text IMG {
	margin:4px 0 4px 0;
}
DIV.item-text .linie {
	clear:both;
	margin:0 0 1em 0;
	border-bottom:2px solid #dbddd7;
}
DIV.item-line {
	position:relative;
	left:50px;
	width:800px;
	margin:0 0 0.3em 0;
	padding:0;
	border-bottom:2px solid #dbddd7;
}
/**
 * Content Unterseiten Konzertliste
 */
DIV.marginalie P,
DIV.marginalie H1,
DIV.marginalie H2,
DIV.marginalie H3,
DIV.marginalie H4,
DIV.marginalie H5,
DIV.marginalie H6
{
	margin:0;
	line-height:1.3em;
}
DIV.marginalie H3 {
	margin:0 0 0.3em 0;
}
DIV.marginalie P {
	margin:0.5em 0 0 0;
}
/**
 * Content Login-Form
 */
FORM.form-login FIELDSET {
	margin:0 0 1em 320px;
	border:0;
}
FORM.form-login LABEL {
	width:150px;
	float:left;
}
FORM.form-login INPUT.login {
	width:250px;
	margin-bottom:0.5em;
}
FORM.form-login BUTTON {
	width:257px;
	margin-bottom:0.5em;
	margin:0 0 0 150px;
}
/**
 * Content Bildergalerie
 */
DIV.item-galerie {
	position:relative;
	left:30px;
	width:810px;
	padding:2em 0 0 0;
}
DIV.item-galerie DIV.image {
	position:relative;
	float:left;
	width:180px;
	height:135px;
	overflow:hidden;
	text-align:center;
	background:#f4f5f1;
	margin:0 0 30px 20px;
}