<strong>Projekt Name</strong><br />
<input type="text" size="80" name="VALUE[1]" value="REX_VALUE[1]" />
<br /><br />
<strong>Probenplan</strong><br />
<label for="externalEventList">
  <input id="externalEventList" type="checkbox" name="VALUE[4]" value="on"
  <?php echo ("REX_VALUE[4]" == "on" ? 'checked="checked"' : ''); ?> />
  Owncloud Event-Liste
</label>
<textarea name="VALUE[2]" class="tinyMCEEditor" style="width:700px; height:150px;">
REX_VALUE[2]
</textarea>
<br /><br />
<strong>Weitere Details falls nötig</strong><br />
<textarea name="VALUE[3]" class="tinyMCEEditor" style="width:700px; height:450px;">
REX_VALUE[3]
</textarea>
